/* Custom CSS starts here, after the reset */

:root {
  --red: #d33a2c;
  --darkred: #803234;
  --darkerred: #4d1e1f;
  --lightred:#fef1f0;
  --grey: grey;
  --lightgrey: rgba(229, 229, 229, 0.66);
  --darkergrey: #a6a6a6a8;
  --white: #ffffff;
  --black: #000000cc;
  /*Vertical unit*/
  --vunit: 1.6rem;
  /*Font size unit*/
  --funit: 1.2rem;
}

html {
   font-family:'Bitter','Times New Roman', Times, serif;
 }

h1,h2,h3,h4,h5,h6 {
  font-family:'Work Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  color: var(--red);
}

.header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-weight: 600;
  margin-bottom: 20px;
  background-color:var(--red);
  padding: 6px 20px;
}

.menubar {
  margin-bottom:0px;
}

.header img {
  max-height: calc(var(--vunit)*1);
  margin-bottom:0;
  color:var(--white);
  text-decoration: none;
}

.header a {
  margin-bottom:0;
  vertical-align: center;
  color:var(--white);
  text-decoration: none;
}

.container {
  margin: 20px;
}

.subtitle {
  font-size:var(--funit);
}

.session {
  margin-bottom: calc(var(--vunit)*3);
}

.wordsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* disabling tap highlight on iOS */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 40px 0px 0px 0px;
}

.small-subtitle {
  color: var(--grey)!important;
}

.metadata {
  display: block;
  height: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.33s ease-in-out;
  margin-top: var(--vunit);
}

.metadata.loaded {
  height: auto;
  max-height: 250px;
}

.word {
  padding: 10px 12px;
  background: var(--red);
  display: inline-flex;
  border: none;
  color: #fff;
  font-size: calc(var(--funit)*1.5);
  font-family: Georgia, "Times New Roman", Times, serif;
  user-select: none;
  margin-left: 0px;
  cursor: pointer;
  box-sizing: content-box;
  /* line-height: 0.9; */
}

.word:hover {
  background-color: var(--darkred);
  border: 0px;
  transition: 0.5s;
}

.word:focus {
  outline: none;
  border-bottom: 3px var(--darkerred) solid;
}

.type {
  font-size: 0.7em;
  font-style: oblique;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.translation {
  margin-left: 2px;
}

#intro {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 48px 0px 0px 0px;
}

#avatar img {
  max-width: 150px;
  clip-path: polygon(20% 0%, 100% 0, 80% 100%, 0% 100%);
  filter: grayscale(100%);
  display: block;
  transition: 0.5s;
}

#avatar img:hover {
  filter: grayscale(0%);
}

.hidden {
  display: none !important;
}

.example {
  font-style: italic;
  background-color: #e3e3e3;
}

.article {
  font-size: var(--funit);
  line-height: var(--vunit);
  max-width: 45ch;
  margin: auto;
}

.dictionary-definition {
  font-size: 1.2em;
  line-height: 1.44em;
  max-width: 45ch;
  margin: auto;
  margin-top: 52px;
}

.article li {
  list-style-type: disc;
  padding-top: 0px;
}

.article ul {
  margin: 10px 0px 10px 0px;
  padding-left: 40px;
}

/* Chrome, Safari, Edge, Opera hack to hide the stepper in number inputs*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox hack to remove the stepper from number input*/
input[type="number"] {
  -moz-appearance: textfield;
}

.inline-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
}

.buy-button {
  padding: 10px 15px;
  background-color: var(--red);
  border: 0px;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  width: 250px;
  margin-top: 30px;
}

.buy-button:hover {
  background-color: var(--darkerred);
  transition: 0.33s ease-in-out;
}

footer {
  margin-top: 150px;
}

.blik-token {
  border: 1px solid var(--grey);
  height: 45px;
  width: 250px;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 2px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 100%;
  height: 450px;
  max-height: 100%;
  z-index: 1010;
  display: flex;
  background-color: #fff;
  border-radius: 4px;
}

.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 20px;
  overflow: auto;
  border-radius: 4px;
}

.modal-overlay {
  display: flex;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(40, 40, 40, 0.75) none repeat scroll 0% 0% !important;
  transition: -webkit-backdrop-filter 0.4s ease-in-out;
  transition: backdrop-filter 0.4s ease-in-out;
  transition: backdrop-filter 0.4s ease-in-out,
    -webkit-backdrop-filter 0.4s ease-in-out;
  transition-delay: 0.1s;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.modal.closed {
  display: none;
}

.modal-overlay.closed {
  display: none;
  background: rgba(40, 40, 40, 0) none repeat scroll 0% 0% !important;
}

.tab {
  display: grid;
  column-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: hidden;
  background-color: #fff;
}

.tab button {
  background-color: inherit;
  float: left;
  border: 1px solid var(--grey);
  border-radius: 4px;
  /* width: 100px; */
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  /* margin-left: 5px; */
  appearance: none;
}

.tab button:hover {
  border: 1px solid #000;
}

.tab button.active {
  border: 2px solid var(--darkerred);
}

.tab-content {
  display: block;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.method-icon {
  height: 30px;
  display: block;
}

.method-icon > img {
  width: auto;
  height: 100%;
}

.method-container {
  display: none;
  margin-top: 20px;
}

.method-container.active {
  display: block;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 5px;
  border: 1px solid var(--grey);
}

#payment-form {
  max-width: 450px;
}

.payment-methods-section {
  margin-top: 1.45rem;
}

#error {
  color: var(--darkred);
}

/* Hack to target just the back arrow in blog articles and definition pages */
.article > a , .definition-title > a{
  text-decoration: none;
  margin-right:32px;
  margin-bottom:0;
  margin-top:0;
}

.definition-title h1, .defintion-title h2 {
  margin:0;
}

#concept li {
  font-size: 1.15em;
  list-style: none;
}

#concept ul {
  margin-left:0;
}

#concept a {
  text-decoration: none;
}

/* Everything related to search */ 

.ais-SearchBox, .ais-SearchBox-form, .ais-SearchBox-input {
  width: 100%;
  height: 60px;
}

input[type="search"]{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius:0;
  background-color:white;
}

.ais-SearchBox-input {
  font-size:var(--funit);
  border:0px;
  border-bottom:1px solid var(--grey);
}

.ais-SearchBox-input:focus {
  outline:none;
}



/* No need for the buttons to submit/clear search */
.ais-SearchBox-submit, .ais-SearchBox-reset {
  display: none;
}

.ais-Hits-item { 
  list-style-type: none;
  margin-bottom:0px!important;
  font-size:var(--funit);
}

.ais-Hits, .ais-Hits-list {
  margin-left:0;
}

.searchresult {
  display:flex;
  align-items:flex-start;
  text-decoration: none!important;
  padding:0px 16px ;
  height:calc(var(--funit)*2.5);
  overflow:hidden;
  white-space: nowrap;
  align-items: center;
  margin-bottom:0;
}

.searchresult:hover {
  background:var(--lightgrey);
}

.searchresult > * {
  margin-right:calc(var(--funit)/2);
  margin-bottom:0;
}

.result-word {
  color:var(--red) !important;
}

.result-translation {
  color:var(--black)!important;
  /* margin: 0px calc(var(--funit)/2); */
  
}

.result-example {
  color:var(--grey)!important;
  text-overflow: ellipsis;
}


.result-arrow {
  color:var(--black)!important;
}

/* Styling dictionary definitions */


.dictionary-definition  blockquote {
  background-color: var(--lightgrey);
  /* margin-top:2em;
  margin-left:0; */
  margin: 48px 0px;
  line-height: 1.5;
  padding:1em;
}

blockquote {
  /* Forcing quotes to be the curly style */
  quotes: '\201c' '\201d';
}

/* .example-highlight {
  letter-spacing: -0.5px;
  padding: 4.5px 6px;
  margin: 1px -1px;
  background: rgb(250 250 0 / 67%);
  border-radius: 3px;
} */


/* Hack to give some realistic effect to highlights */
.example-highlight {
  margin: 0 -0.35em;
  padding: 0.1em 0.35em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.1),
    rgba(255, 225, 0, 0.7) 4%,
    rgba(255, 225, 0, 0.3)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}



.dictionary-definition blockquote:nth-child(1):before {
  font-size: calc(var(--funit)*4);
  content: open-quote;
  margin: 24px 0 0 -30px;
  line-height: 0px;
}

.dictionary-definition .small-subtitle {
  margin-top:-100px;
}

.dictionary-translation {
  font-weight:600;
}

.definition-title {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.backarrow {
  margin:0px;
}

.context {
  border-left: 5px solid var(--darkred);
  font-size:calc(var(--funit)*0.75);
  padding:24px;
  margin-top:var(--vunit);
  background-color:var(--lightred);
}

/* Conversation design when a defintion is a dialog */

.conversation-thread {
  margin-top:52px;
  display:flex;
  flex-direction: column;
}

.conversation-thread blockquote {
  border-radius: 16px;
  max-width: 80%;
}

.conversation-thread blockquote {
  margin:36px 0px 0px 0px;
}

.conversation-thread blockquote:nth-child(even) {
  background-color: var(--darkergrey);
  margin-left: auto;
}

.conversation-thread blockquote:nth-child(1) {
  margin-top:0px;
}



/* New 2-cells layout */

.grid-row {
  display:grid;
  grid-gap:var(--vunit);
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
}

.wotd {
  background-color: #d33a2c2e;
  padding:0px var(--vunit);
  max-height:calc(var(--vunit)*16);
}

.wotd h1 {
  color:var(--darkerred)
}

/* Components for translations  */

.syntax-component:hover {
  text-decoration: underline dashed;
  cursor: pointer;
}

.discourse_particle {
  color:blue;
}

.highlight-discourse_particle {
  color: lightskyblue;
}

.verb {
  color:green;
}

.highlight-verb {
  color: lightseagreen;
}

.nya {
  color:orange;
}

.highlight-possessive {
  color: lightsalmon;
}

.word-highlight {
    font-size: 20px !important;
    pointer-events: auto !important;
}

.word-highlight:hover {
    visibility: visible !important;
    opacity: 1 !important;
}

.phrase {
  margin-bottom:var(--vunit)!important;
}

.ber, .di {
  color: purple;
}