/* Custom CSS starts here, after the reset */

:root {
  --red: #c34c4f;
  --darkred: #803234;
  --darkerred: #4d1e1f;
  --grey: grey;
  --white: #ffffff;
}

a {
  color: var(--red);
}

.header {
  font-weight: 500;
  margin-bottom: 20px;
}

.container {
  margin: 40px 20px 0px 40px;
}

.title {
  font-size: 3em;
  font-weight: 600;
}

.subtitle {
  font-size: 1.5em;
  line-height: 1.25em;
}

.session {
  margin-bottom: 60px;
}

.wordsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  /* disabling tap highlight on iOS */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 40px 0px 0px 0px;
}

.sessionTitle {
  margin-bottom: 0px;
  font-family: "Work Sans";
}

.translated {
  /* font-style:italic; */
  margin-top: -0.7em;
  font-weight: 400;
}

.session h3 {
  font-size: 2.5em;
  font-weight: 600;
}

.date {
  color: var(--grey);
}

.metadata {
  display: block;
  height: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.33s ease-in-out;
  margin-top: 8px;
}

.metadata.loaded {
  height: auto;
  max-height: 200px;
}

.word {
  padding: 10px 12px;
  background: var(--red);
  display: inline-flex;
  border: none;
  color: #fff;
  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  user-select: none;
  margin-left: 0px;
  cursor: pointer;
  box-sizing: content-box;
}

.word:hover {
  background-color: var(--darkred);
  border: 0px;
  transition: 0.5s;
}

.word:focus {
  outline: none;
  border-bottom: 3px var(--darkerred) solid;
}

.type {
  font-size: 0.7em;
  font-style: oblique;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.translation {
  margin-left: 2px;
}

#intro {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-top: 20px;
}

.sessionIntro {
  margin-top: 20px;
}

#avatar img {
  max-width: 150px;
  clip-path: polygon(20% 0%, 100% 0, 80% 100%, 0% 100%);
  filter: grayscale(100%);
  display: block;
  transition: 0.5s;
}

#avatar img:hover {
  filter: grayscale(0%);
}

.hidden {
  display: none !important;
}

.example {
  font-style: italic;
  background-color: #e3e3e3;
}

.article {
  font-size: 1.2em;
  line-height: 1.44em;
  width: 45ch;
  margin: auto;
  margin-top: 80px;
}

.article li {
  list-style-type: disc;
  padding-top: 0px;
}

.article ul {
  margin: 10px 0px 10px 0px;
  padding-left: 40px;
}

.article h3 {
  margin: 48px 0px 24px 0px;
}

/* Chrome, Safari, Edge, Opera hack to hide the stepper in number inputs*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox hack to remove the stepper from number input*/
input[type="number"] {
  -moz-appearance: textfield;
}

.inline-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 20px;
}

.buy-button {
  padding: 10px 15px;
  background-color: var(--red);
  border: 0px;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  width: 250px;
  margin-top: 30px;
}

.buy-button:hover {
  background-color: var(--darkerred);
  transition: 0.33s ease-in-out;
}

footer {
  margin-top: 150px;
}

.blik-token {
  border: 1px solid var(--grey);
  height: 45px;
  width: 250px;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 2px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 100%;
  height: 450px;
  max-height: 100%;
  z-index: 1010;
  display: flex;
  background-color: #fff;
  border-radius: 4px;
}

.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 20px;
  overflow: auto;
  border-radius: 4px;
}

.modal-overlay {
  display: flex;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(40, 40, 40, 0.75) none repeat scroll 0% 0% !important;
  transition: -webkit-backdrop-filter 0.4s ease-in-out;
  transition: backdrop-filter 0.4s ease-in-out;
  transition: backdrop-filter 0.4s ease-in-out,
    -webkit-backdrop-filter 0.4s ease-in-out;
  transition-delay: 0.1s;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.modal.closed {
  display: none;
}

.modal-overlay.closed {
  display: none;
  background: rgba(40, 40, 40, 0) none repeat scroll 0% 0% !important;
}

.tab {
  overflow: hidden;
  background-color: #fff;
  padding: 5px 0px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: 1px solid var(--grey);
  border-radius: 4px;
  width: 150px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  margin-left: 5px;
  appearance: none;
  transition: box-shadow 0.08s ease-in, border 0.08s ease-in;
}

.tab button:hover {
  border: 1px solid #000;
}

.tab button.active {
  box-shadow: 0 0 0 1px rgba(26, 26, 26, 0.9), 0 2px 4px 0 rgba(0, 0, 0, 0.07),
    0 1px 1.5px 0 rgba(0, 0, 0, 0.05);
}

.tab-content {
  display: block;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.method-icon {
  height: 30px;
  display: block;
}

.method-icon > img {
  width: auto;
  height: 100%;
}

.method-container {
  display: none;
  margin-top: 20px;
}

.method-container.active {
  display: block;
}
